#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* background-color: lightgoldenrodyellow; */
  background-image: url("./assets/lakebackground.jpg");
  background-size: cover;
}

.techblog{
  background-image: url("./assets/TechBlog.jpg");
  background-size: cover;
}

.calendarapp{
  background-image: url("./assets/calendar_data_retrieval.jpg");
  background-size: cover;
}

.weatherapp{
  background-image: url("./assets/weather_app.png");
  background-size: cover;
}

.codingquiz{
  background-image: url("./assets/codingQuiz.png");
  background-size: cover;
}

.passwordgen{
  background-image: url("./assets/PW_Generator.png");
  background-size: cover;
}

.sudoku{
  background-image: url("./assets/Screenshot-Sudoku.png");
  background-size: cover;
}





/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.center-background {
  /* background-image: url("./assets/lakebackground.jpg");
  background-size: cover; */
  margin: 0;
  background-color: rgb(113, 170, 49,0.2);
  /* Workaround for some mobile browsers */
  min-height: 100%;
}

.peej{
  background-color: rgb(113, 170, 49,0.2);
}


/* 
https://mdbootstrap.com/docs/react/utilities/opacity/
https://www.tutorialspoint.com/set-the-opacity-only-to-background-color-not-on-the-text-in-css#:~:text=Users%20can%20follow%20the%20syntax,%25%2C%2030%25%2C%20opacity)%3B
*/